*{

}

.top{
    background-color: orange;
    padding: 15px;
    text-align: center;
    color: white;
    position: static;
}
.container{
    font-family: tahoma;
}
.content{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 400px;
    overflow-y: auto;
    margin-left: 100px;
    margin-right: 100px;
}
.foto{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: auto;
    margin: 10px;
    padding: 10px;
    overflow-x: auto;
    margin-left: 100px;
    margin-right: 100px;
    
}
img{
 margin: 10px;
}
.content2{

    margin-left: 100px;
    margin-right: 100px;
}
.bottom{
    background-color: orange;
    padding: 2px;
    text-align: center;
    color: white;
    position: static;
}